/* Указываем box sizing и обнуление отступов*/
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
  list-style-type: none;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* локальные шрифты */
@font-face {
  font-family: "Proxima Regular";
  src: url(../fonts/proximanova_regular.ttf);
}
@font-face {
  font-family: "Gilroy Regular";
  src: url(../fonts/Gilroy-Regular.ttf);
}
@font-face {
  font-family: "Bebas Regular";
  src: url(../fonts/BebasNeueRegular.eot);
}

/* page */
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
}
.wrapper_container {
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  font-family: "Proxima Regular";
  color: #ffffff;
}

/* photo header */
.header_burger {
  width: 40px;
  height: 22px;
  margin-right: 80px;
  cursor: pointer;
}
.logo_header {
  width: 197px;
  height: 30px;
}
/* header */

.wrapper_container_header_block {
  width: 100%;
  height: 768px;
  position: relative;
}
.fone_header_block_img {
  width: 100%;
  height: 768px;
  position: relative;
}
.wrapper_container_header_block::after {
  background: linear-gradient(
    180deg,
    rgba(0, 78, 134, 0.8) 0%,
    rgba(10, 65, 104, 0.8) 100%
  );
  width: 100%;
  height: 768px;
  position: absolute;
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 1;
}
.header_block_up_global {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  width: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  padding: 0 250px;
}
.header_block_up {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  width: 100%;
  justify-content: space-between;
}

.header_block_up_center_text {
  margin-right: 141px;
}
.header_block_up_center_text-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 6px;
}
.header_block_up_right_side-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 6px;
}
.header_block_up_center_text-p {
  font-size: 12px;
  line-height: 12px;
  opacity: 0.5;
}
.header_block_up_center_text-row-p {
  font-size: 14px;
  line-height: 12px;
  color: #fee040;
  margin-left: 10px;
}
.header_block_up_right_side-row-p {
  font-size: 12px;
  line-height: 12px;
  opacity: 0.5;
  margin-left: 7px;
}
.header_block_up_right_side-p {
  font-size: 20px;
  line-height: 24px;
}
/* content header block */
.header_block_content {
  padding: 0 120px;
  width: 100%;
  margin-top: 128px;
  display: flex;
  flex-direction: row;
}
.header_block_content_leftSide {
  min-width: 50%;
}
.header_block_content_rightSide {
  margin-left: 260px;
}
.header_block_content_rightSide2 {
  margin-left: 140px;
}
.header_block_content_leftSide-p1 {
  font-family: "Gilroy Regular";
  font-size: 42px;
  line-height: 51px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 38px;
}
.header_block_content_leftSide-p2 {
  font-size: 20px;
  line-height: 34px;
  opacity: 0.7;
}
.content_rightSide_button_text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content_rightSide_button {
  width: 340px;
  height: 70px;
  background: #fee040;
  border-radius: 2px;
  border: none;
  font-family: "Gilroy Regular";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 900;
  cursor: pointer;
}
.content_rightSide_button:hover,
.wrapper_container_reviews_btn:hover,
.wrapper_container_cost_item_btn:hover {
  background: #928019;
  color: #ffffff;
}
.download_header_img {
  width: 12px;
  height: 12px;
  margin-right: 12px;
}
.header_block_content_rightSide-p {
  margin-top: 40px;
  font-size: 15px;
  line-height: 28px;
  width: 340px;
}
.header_block_content_rightSide-p2 {
  margin-top: 30px;
  font-size: 15px;
  line-height: 28px;
  width: 340px;
}

/* down block content header */
.header_block_footer_content {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-top: 63px;
  width: 100%;
  justify-content: space-between;
}
.header_block_footer_content_leftSide {
  display: flex;
  flex-direction: row;
}
.video_img_header {
  width: 220px;
  height: 220px;
  cursor: pointer;
}
.header_block_footer_content_leftSide-row {
  display: flex;
  align-items: flex-end;
  width: 260px;
  height: auto;
  margin-right: 100px;
}
.header_block_footer_content_leftSide-row2 {
  display: flex;
  align-items: flex-end;
  width: 270px;
  height: auto;
}
.numbers_header {
  margin-right: 31px;
  width: 49px;
  height: 47px;
}
.footer_content_leftSide-row-p {
  font-size: 20px;
  line-height: 28px;
}

/* SECTION 1 */
.wrapper_container_up_info_block_gl_left {
  width: 50%;
  background: #ffffff;
}
.wrapper_container_up_info_block_gl_right {
  width: 960px;
  background: #f5f5f5;
  display: flex;
}
.wrapper_container_up_info_block {
  display: flex;
  flex-direction: row;
  padding: 0 0 0 250px;
  position: relative;
}
.wrapper_container_up_info_block_left {
  background: #ffffff;
}
.wrapper_container_up_info_block_right {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 250px;
  margin-top: 12px;
}
.wrapper_container_up_info_block_left-p1 {
  font-family: "Gilroy Regular";
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #151515;
  font-weight: 900;
  width: 460px;
  margin-bottom: 50px;
  margin-top: 112px;
}
.wrapper_container_up_info_block_left-p2 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #707070;
  opacity: 0.7;
  margin-bottom: 77px;
  width: 460px;
}
.wrapper_container_up_info_block_right-p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  margin-bottom: 24px;
}
.up_info_block_right_inner_block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.up_info_block_right_inner_block-p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #333333;
  opacity: 0.7;
  margin-left: 20px;
}
.section_one_tv_img {
  width: 300px;
  height: 295px;
  position: absolute;
  top: 80px;
  left: 860px;
}

/* section 2 */
.wrapper_container_our_services_gl {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
}
.section_two_patrick_img {
  width: 100%;
  height: 753px;
}
.wrapper_container_our_services_gl::after {
  width: 100%;
  height: 753px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 78, 134, 0.9) 0%,
    rgba(10, 65, 104, 0.9) 100%
  );
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
}
.wrapper_container_our_services {
  width: 100%;
  position: absolute;
  height: 753px;
  z-index: 10;
}
.wrapper_container_our_services_text {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 483px;
  margin-top: 112px;

  margin-bottom: 20px;
}
.wrapper_container_our_services_text-p1 {
  font-family: "Bebas Regular";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #fee040;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
}
.wrapper_container_our_services_text-p2 {
  font-family: "Gilroy Regular";
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 900;
}
/* content section 2 */
.wrapper_container_our_services_content {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  width: auto;
  padding: 29px 250px 0;
  margin-bottom: 56px;
}

.wrapper_container_our_services_content::-webkit-scrollbar {
  /* width: 3px;
  height: 3px;
  background-color: rgb(125, 151, 31); */
  width: 0;
}
.wrapper_container_our_services_content_item {
  width: 400px;
  margin-right: 80px;
}
.img_house_section2 {
  margin-bottom: 20px;
  width: 400px;
  height: 190px;
}
.wrapper_container_our_services_content_item-p1 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 20px;
}
.wrapper_container_our_services_content_item-p2 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #ffffff;
  opacity: 0.7;
  margin-bottom: 29px;
}
.services_content_item_row {
  display: flex;
  align-items: center;
}
.services_content_item_row-p {
  font-family: "Bebas Regular";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 7px;
  color: #fee040;
  margin-right: 14px;
  font-weight: 700;
  cursor: pointer;
}
.services_footer_line {
  width: 574px;
  height: 4px;
  /* border-bottom: 2px solid ; */
  background: linear-gradient(270deg, #fee040 0%, rgba(254, 224, 64, 0) 100%);
}

/* section 3 */
.wrapper_container_we_working {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 116px;
}
.wrapper_container_we_working_block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_container_we_working_block-p1 {
  font-family: "Bebas Regular";
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #60b6ff 0%, rgba(0, 78, 134, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  line-height: 64px;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 36px;
}
.wrapper_container_we_working_block-p2 {
  font-family: "Gilroy Regular";
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #505050;
  font-weight: 700;
  width: 503px;
  margin-bottom: 100px;
}

/* img section3 (step1) */
.step1_section3_img {
  width: 107px;
  height: 27px;
}
.man_section3_img {
  width: 960px;
  height: 441px;
}
.people_section3_img {
  width: 960px;
  height: 514px;
}
.circleLogo_section3_img {
  width: 100px;
  height: 100px;
}

.wrapper_container_we_working_step1 {
  display: flex;
  margin-bottom: 80px;
}
.we_working_step1_leftSide {
  min-width: 50%;
}
.we_working_step1_rightSide {
  min-width: 50%;
  background: #f5f5f5;
  padding: 80px 0 0 70px;
}
.we_working_step1_rightSide_up {
  width: 460px;
  height: auto;
  margin-bottom: 32px;
}
.we_working_step1_rightSide_up-row {
  display: flex;
  margin-bottom: 18px;
  align-items: center;
}
.we_working_step1_rightSide_up-row-p {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  margin-left: 20px;
  font-weight: 700;
}
.we_working_step1_rightSide_up-p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #333333;
  opacity: 0.7;
  font-weight: 600;
}
.we_working_step1_rightSide_down {
  display: flex;
  width: 555px;
}
.we_working_step1_rightSide_down_rightBlock-p1 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #505050;
  opacity: 0.7;
  margin-bottom: 21px;
  font-style: italic;
}
.we_working_step1_rightSide_down_rightBlock-p2 {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  color: #151515;
  opacity: 0.7;
  font-weight: 700;
}

/* step2 */
.wrapper_container_we_working_step2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* img step2 */
.step2_img {
  width: 107px;
  height: 27px;
  margin-bottom: 20px;
}
.all_pribors_step2 {
  width: 210px;
  height: 365px;
  top: -70px;
  position: absolute;
}

.wrapper_container_we_working_step2_up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_container_we_working_step2_up-p1 {
  font-size: 24px;
  line-height: 34px;
  letter-spacing: -0.5px;
  color: #151515;
  margin-bottom: 28px;
  font-weight: 700;
}
.wrapper_container_we_working_step2_up-p2 {
  width: 980px;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #333333;
  opacity: 0.7;
  margin-bottom: 50px;
}
.wrapper_container_we_working_step2_down {
  display: flex;
  width: auto;
  /* padding: 0 230px; */
  margin: 0 230px;
  height: 450px;
  padding: 60px 32px 20px;
  margin-bottom: 91px;
}
.wrapper_container_we_working_step2_down_item {
  width: 340px;
  height: 357px;
  background: #f5f5f5;
  border-radius: 2px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 55px;
  position: relative;
}
.wrapper_container_we_working_step2_down_item2 {
  width: 340px;
  height: 357px;
  background: #f5f5f5;
  border-radius: 2px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 34px;
  position: relative;
}
.wrapper_container_we_working_step2_down_item-p {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #151515;
  opacity: 0.7;
  font-weight: 700;
}

/* step 3 */
.wrapper_container_we_working_step3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.wrapper_container_we_working_step3_img {
  min-width: 49%;
  height: 513px;
}
.wrapper_container_we_working_step3_leftSide {
  min-width: 49%;
  background: #f5f5f5;
  padding: 80px 90px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.working_step3_leftSide-row {
  display: flex;
  margin-bottom: 18px;
  width: 500px;
}
.wrapper_container_we_working_step3_leftSide-p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #707070;
  font-weight: 600;
  margin-bottom: 31px;
  width: 500px;
}
.span_step3 {
  text-decoration: underline;
  color: #2f80ed;
  cursor: pointer;
}
.working_step3_leftSide_list {
  display: flex;
  flex-direction: column;
}
.working_step3_leftSide_list-row {
  display: flex;
  margin-bottom: 25px;
  width: 500px;
}
.working_step3_leftSide_list-p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #505050;
  opacity: 0.7;
  margin-left: 20px;
}

/* section #4 */
.wrapper_container_order_service {
  width: 100%;
  height: 408px;
  position: relative;
}
.wrapper_container_order_service::after {
  width: 100%;
  height: 408px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 78, 134, 0.8) 0%,
    rgba(10, 65, 104, 0.8) 100%
  );
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
  z-index: 1;
}
.wrapper_container_order_service_inner {
  display: flex;
  padding: 0 250px;
  position: absolute;
  top: 0;
  z-index: 10;
  padding-top: 130px;
}
.wrapper_container_order_service_inner-p1 {
  width: 460px;
  font-family: "Gilroy Regular";
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #ffffff;
  font-weight: 900;
  margin-right: 20px;
}
.span_section4_service_inner {
  color: #fee040;
}
.wrapper_container_order_service_inner-p2 {
  width: 440px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #ffffff;
}
.sity_setcion4_img {
  width: 100%;
  height: 408px;
}

/* section 5 */
.wrapper_container_our_task {
  display: flex;
  padding: 100px 250px 0;
  position: relative;
}
.wrapper_container_our_task_leftSide {
  width: 16px;
  height: 364px;
  min-width: 50%;
  height: 683px;
}
.wrapper_container_our_task_leftSide-p {
  font-family: "Bebas Regular";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #2f80ed;
  width: 202px;
  height: 16px;
  margin-right: 25px;
  font-weight: 700;
}
.wrapper_container_our_task_leftSide_up {
  width: 140px;
  height: 2px;
  background: linear-gradient(270deg, rgba(254, 224, 64, 0) 0%, #fee040 100%);
  margin-left: 22px;
}
.wrapper_container_our_task_leftSide_gl {
  width: 364px;
  height: 16px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  transform: rotate(-90deg);
  top: 430px;
  left: 75px;
  position: absolute;
}
.wrapper_container_our_task_RightSide_up {
  margin-bottom: 49px;
  display: flex;
  flex-direction: column;
}
.wrapper_container_our_task_RightSide_up-p1 {
  font-family: "Gilroy Regular";
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #151515;
  margin-bottom: 39px;
  font-weight: 900;
}
.wrapper_container_our_task_RightSide_up-p2 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #707070;
  margin-bottom: 49px;
}
.span_section5_task {
  color: #000000;
  font-weight: 700;
}
.section5_files {
  width: 132px;
  height: 185px;
  margin-right: 10px;
}
.section5_files:hover {
  background: linear-gradient(180deg, #fee040 0%, #2f80ed 100%);
  opacity: 0.3;
  border-radius: 2px;
  cursor: pointer;
}
.wrapper_container_our_task_RightSide_slider {
  margin-bottom: 100px;
}

/* section 6 */
.wrapper_container_cost_info {
  display: flex;
  background: #f5f5f5;
  margin-bottom: 100px;
}
.wrapper_container_cost_info_leftSide {
  min-width: 50%;
  padding-top: 101px;
  padding-left: 370px;
}
.wrapper_container_cost_info_rightSide {
  min-width: 50%;
  position: relative;
}
.wrapper_container_cost_info_leftSide-p1 {
  font-family: "Bebas Regular";
  font-weight: 700;
  text-transform: uppercase;
  background: linear-gradient(180deg, #2f80ed 0%, rgba(0, 78, 134, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #0b2349;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 5px;
}
.wrapper_container_cost_info_leftSide-p2 {
  font-family: "Gilroy Regular";
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #151515;
  font-weight: 900;
}
.wrapper_container_cost_info_leftSide-p3 {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.5px;
  color: #707070;
  margin-top: 39px;
  margin-bottom: 37px;
}
.video_section6_img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
}
.photo_man_section6 {
  width: 744px;
  height: 677px;
  position: absolute;
  top: -25px;
}
.sing_section6 {
  position: absolute;
  width: 220px;
  height: 187px;
  top: 425px;
}
.wrapper_container_cost_info_leftSide_text_row {
  display: flex;
  align-items: center;
}
.wrapper_container_cost_info_leftSide_text_row-p {
  font-family: "Bebas Regular";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 7px;
  color: #bbbbbb;
  font-weight: 700;
}
.wrapper_container_cost_info_leftSide_text-p {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.5px;
  color: #151515;
  opacity: 0.7;
  font-weight: 700;
  margin-left: 75px;
}
.wrapper_container_cost_info_leftSide_text {
  display: flex;
  margin-bottom: 89px;
}
.text_span_section6 {
  color: #303030;
  font-weight: 600;
}

/* section 7 - reviews */
.wrapper_container_reviews {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  align-items: center;
  justify-content: center;
}
.wrapper_container_reviews_text {
  width: 980px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}
.wrapper_container_reviews_text-p1 {
  font-family: "Bebas Regular";
  font-size: 20px;
  line-height: 16px;
  letter-spacing: 20px;
  text-transform: uppercase;
  color: #2f80ed;
  font-weight: 700;
}
.wrapper_container_reviews_text-p2 {
  font-family: "Gilroy Regular";
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #151515;
  font-weight: 900;
  margin-top: 30px;
}
.wrapper_container_reviews_text-p3 {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #707070;
  margin-top: 39px;
  font-weight: 600;
}
.wrapper_container_reviews_docs {
  display: flex;
  width: 1455px;
  margin-bottom: 35px;
}
.wrapper_container_reviews_docs_item {
  width: 300px;
  position: relative;
  margin-right: 73px;
}
.wrapper_container_reviews_docs_item:hover {
  background: linear-gradient(180deg, #fee040 0%, #2f80ed 100%);
  opacity: 0.5;
  border-radius: 2px;
  cursor: pointer;
}
.doc_section_seven {
  width: 300px;
  height: 474px;
}
.huawei_section_seven {
  position: absolute;
  width: 150px;
  height: 150px;
  top: -60px;
  left: -75px;
}
.wrapper_container_reviews_docs_item-p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #151515;
  opacity: 0.7;
  border-radius: 2px;
  margin-top: 20px;
}
.wrapper_container_reviews_btn {
  width: 443px;
  height: 70px;
  background: #fee040;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}
.wrapper_container_reviews_btn-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper_container_reviews_btn-p {
  font-family: "Gilroy Regular";
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 900;
  margin-left: 12px;
}

/* section #8  (cost items) */
.wrapper_container_cost_item {
  width: 100%;
  height: 446px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.wrapper_container_cost_item::after {
  width: 100%;
  height: 446px;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 78, 134, 0.9) 0%,
    rgba(10, 65, 104, 0.9) 100%
  );
  content: "";
  opacity: 0.8;
  top: 0;
  left: 0;
}
.sity_section_reviews {
  width: 100%;
  height: 446px;
}
.wrapper_container_cost_item_content {
  width: 863px;
  height: 240px;
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper_container_cost_item_content-p1 {
  font-family: "Gilroy Regular";
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.5px;
  font-weight: 900;
  margin-bottom: 39px;
}
.span_cost_section8 {
  color: #fee040;
}
.wrapper_container_cost_item_content-p2 {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #ffffff;
  margin-bottom: 29px;
  width: 680px;
}
.wrapper_container_cost_item_btn {
  width: 400px;
  height: 70px;
  background: #fee040;
  border-radius: 2px;
  cursor: pointer;
  border: none;
}
.wrapper_container_cost_item_btn-row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper_container_cost_item_btn-row-p {
  margin-left: 10px;
  font-family: Gilroy;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 900;
}

/* footer */
.icon_footer {
  margin-right: 6px;
}
.wrapper_container_footer {
  width: 100%;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 250px;
}
.wrapper_container_footer_left-p {
  font-size: 12px;
  line-height: 18px;
  color: #707070;
  font-weight: 600;
  width: 296px;
}
.wrapper_container_footer_right {
  display: flex;
}
.wrapper_container_footer_right-block1 {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}
.wrapper_container_footer_right-block1:last-child {
  margin-right: 0;
}
.wrapper_container_footer_right-block1-row {
  display: flex;
  margin-bottom: 6px;
}
.wrapper_container_footer_right-block1-row-p {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: -0.5px;
  color: #707070;
}
.wrapper_container_footer_right-block1-p {
  font-size: 18px;
  line-height: 22px;
  color: #151515;
  font-weight: 700;
}

/* MOBILE ADAPTIVE */
@media only screen and (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  .wrapper_container {
    max-width: 100%;
  }
  .header_block_up_global {
    padding: 0;
  }
  .header_block_up {
    justify-content: flex-start;
    width: -webkit-fill-available;
    flex-direction: column;
  }
  .header_block_up_global {
    margin-top: 0;
    padding: 0 10px;
    width: -webkit-fill-available;
  }
  .logo_header {
    width: 120px;
    height: 20px;
  }
  .header_block_content {
    flex-direction: column;
    width: -webkit-fill-available;
    padding: 0;
    margin-top: 50px;
  }
  .header_block_up_gl {
    margin-top: 15px;
    width: -webkit-fill-available;
    justify-content: space-between;
  }
  .header_block_up_right_side-p {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
  .header_block_up_center_text {
    margin-right: 0;
  }
  .header_block_content_rightSide {
    margin: 40px 0 0 0;
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header_block_footer_content_leftSide-row {
    margin-right: 0;
  }
  .header_block_footer_content {
    margin-top: 0;
    justify-content: flex-start;
    display: none;
  }
  .wrapper_container_up_info_block_gl_right {
    width: 100%;
  }
  .man_section3_img {
    width: 100%;
  }
  .we_working_step1_rightSide_down {
    width: 100%;
    margin-bottom: 10px;
  }
  .services_footer_line {
    display: none;
  }
  .wrapper_container_up_info_block_left-p1 {
    width: 100%;
  }
  .wrapper_container_up_info_block_left-p2 {
    width: 100%;
  }
  .wrapper_container_up_info_block_right {
    padding-left: 0;
  }
  .wrapper_container_we_working_block-p2 {
    width: 100%;
  }
  .we_working_step1_rightSide {
    padding: 30px 10px 0;
  }
  .we_working_step1_rightSide_up {
    width: 100%;
  }
  .working_step3_leftSide-row {
    width: 100%;
  }
  .working_step3_leftSide_list-row {
    width: 100%;
  }
  .header_block_up_block1 {
    justify-content: space-between;
  }
  .wrapper_container_we_working_step3_leftSide-p {
    width: 100%;
  }
  .wrapper_container_we_working_step2_up-p2 {
    width: 100%;
  }
  .video_img_header {
    width: 150px;
    height: 150px;
  }
  .wrapper_container_up_info_block {
    padding: 0;
    width: -webkit-fill-available;
    flex-direction: column;
  }
  .wrapper_container_our_services_content {
    padding: 30px 0 0 0;
    display: none;
  }
  .wrapper_container_our_services_text {
    margin-left: 0;
    width: -webkit-fill-available;
  }
  .wrapper_container_we_working_block {
    width: -webkit-fill-available;
  }
  .wrapper_container_we_working_step1 {
    flex-direction: column;
  }
  .wrapper_container_we_working_step2_down {
    margin: 0;
    display: none;
  }
  .people_section3_img {
    width: 100%;
  }
  .wrapper_container_footer_left-p {
    width: auto;
    font-size: 11px;
  }
  .wrapper_container_cost_info_leftSide_text {
    flex-direction: column;
  }
  .wrapper_container_we_working_step3 {
    flex-direction: column;
  }
  .wrapper_container_we_working_step3_leftSide {
    padding: 0;
    align-items: flex-start;
  }
  .wrapper_container_order_service_inner-p1 {
    width: 100%;
    font-size: 26px;
  }
  .wrapper_container_order_service_inner-p2 {
    width: 100%;
  }
  .header_block_content_rightSide2 {
    margin-left: 0;
  }
  .wrapper_container_our_task_leftSide {
    display: none;
  }
  .wrapper_container_order_service_inner {
    flex-direction: column;
    padding: 0;
  }
  .wrapper_container_our_task {
    padding: 50px 0;
    flex-direction: column;
  }
  .wrapper_container_cost_info {
    flex-direction: column;
  }
  .wrapper_container_cost_info_leftSide {
    padding-left: 0;
  }
  .photo_man_section6 {
    display: none;
  }
  .wrapper_container_reviews_docs {
    width: 100%;
    flex-wrap: wrap;
  }
  .wrapper_container_reviews_text {
    width: 100%;
  }
  .wrapper_container_reviews_btn {
    width: 100%;
  }
  .wrapper_container_cost_item_content {
    width: 300px;
  }
  .wrapper_container_cost_item_btn {
    width: 200px;
  }
  .wrapper_container_footer {
    width: 100%;
    padding: 0;
    justify-content: flex-start;
    flex-direction: column;
  }
  .wrapper_container_cost_item_content-p2 {
    width: 100%;
  }
  .section_one_tv_img {
    display: none;
  }
  .content_rightSide_button {
    min-width: 240px;
    width: 100%;
  }
  .img_house_section2 {
    width: 100%;
  }
  .wrapper_container_our_services_content_item {
    min-width: 240px;
    width: 100%;
  }
  .wrapper_container_we_working_block-p1 {
    font-size: 28px;
  }
  .we_working_step1_rightSide_up-row-p {
    font-size: 18px;
  }
  .header_block_content_rightSide-p2 {
    width: 100%;
  }
  /* после обнуления размеров блоков, настройка контент части */

  /* header */
  .header_block_content_leftSide-p1 {
    font-size: 26px;
    line-height: 42px;
    margin-bottom: 20px;
  }
  .fone_header_block_img {
    height: 630px;
  }
  .wrapper_container_header_block::after {
    height: 630px;
  }
  .header_block_content_rightSide-p {
    margin-top: 30px;
    max-width: 340px;
    width: 100%;
  }
  .wrapper_container_header_block {
    height: 630px;
  }
  /* info block */
  .wrapper_container_up_info_block_gl_left {
    width: 100%;
  }
  .wrapper_container_up_info_block_left-p1 {
    font-size: 25px;
    padding: 0 10px;
    margin: 30px 0;
  }
  .wrapper_container_up_info_block_left-p2 {
    font-size: 16px;
    padding: 0 10px;
    margin-bottom: 30px;
  }
  .wrapper_container_up_info_block_right {
    padding: 0 10px;
  }

  /* service */
  .wrapper_container_our_services_text {
    margin: 30px 0 0 0;
    padding: 0 10px;
  }
  .wrapper_container_our_services_text-p2 {
    font-size: 22px;
  }
  .wrapper_container_our_services_text-p1 {
    font-size: 24px;
  }
  .wrapper_container_our_services_content {
    display: flex;
    margin: 0;
    padding: 30px 10px;
  }
  .wrapper_container_our_services_content_item {
    min-width: 211px;
    margin-right: 50px;
  }
  .wrapper_container_our_services_content_item:last-child {
    margin-right: 0;
  }

  /* we working */
  .wrapper_container_we_working {
    margin-top: 30px;
  }
  .wrapper_container_we_working_block-p1 {
    margin-bottom: 15px;
    line-height: 44px;
  }
  .wrapper_container_we_working_block {
    padding: 0 10px;
  }
  .wrapper_container_we_working_block-p2 {
    margin-bottom: 30px;
    font-size: 19px;
  }

  /* step 1 */
  .wrapper_container_we_working_step1 {
    margin-bottom: 30px;
  }
  /* step 2 */
  .wrapper_container_we_working_step2_up-p1 {
    font-size: 18px;
  }
  .wrapper_container_we_working_step2_up-p2 {
    text-align: start;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  .wrapper_container_we_working_step3_leftSide {
    padding: 30px 10px 0;
  }
  /* step 3 */
  .we_working_step1_rightSide_up-row-p {
    font-size: 18px;
    line-height: 22px;
  }
  .wrapper_container_we_working_step3_leftSide-p {
    font-size: 16px;
    line-height: 24px;
  }
  .people_section3_img {
    display: none;
  }
  .wrapper_container_we_working_step3_img {
    display: none;
  }
  .man_section3_img {
    height: 300px;
  }
  /* buy */
  .wrapper_container_order_service_inner {
    padding: 30px 10px;
  }
  .wrapper_container_order_service_inner-p2 {
    font-size: 16px;
    line-height: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .wrapper_container_order_service {
    height: 595px;
  }
  .sity_setcion4_img {
    height: 595px;
  }
  .wrapper_container_order_service::after {
    height: 595px;
  }
  /* our task */
  .wrapper_container_our_task {
    padding: 30px 10px;
  }
  .wrapper_container_our_task_RightSide_up {
    margin-bottom: 0;
  }
  .wrapper_container_our_task_RightSide_slider {
    margin: 0;
    margin: 0 -10px;
  }
  .section5_files {
    margin-right: 5px;
    width: 120px;
  }

  .wrapper_container_cost_info_leftSide {
    padding: 30px 10px;
  }
  .wrapper_container_cost_info_leftSide-p1 {
    font-size: 28px;
  }
  .wrapper_container_cost_info_leftSide-p2 {
    font-size: 24px;
    line-height: 32px;
  }
  .wrapper_container_cost_info_leftSide-p3 {
    margin-bottom: 10px;
  }
  .wrapper_container_cost_info_leftSide_text {
    margin-bottom: 0;
  }
  .wrapper_container_cost_info {
    margin-bottom: 0;
  }

  /* reviews */
  .wrapper_container_reviews {
    padding: 30px 10px;
  }
  .wrapper_container_reviews_text-p1 {
    font-size: 22px;
    line-height: 24px;
  }
  .wrapper_container_reviews_text-p2 {
    font-size: 24px;
    line-height: 32px;
    margin-top: 20px;
  }
  .wrapper_container_reviews_text-p3 {
    margin-top: 30px;
  }
  .wrapper_container_reviews_text {
    margin-bottom: 45px;
  }
  .doc_section_seven {
    width: 200px;
    height: 300px;
  }
  .huawei_section_seven {
    width: 100px;
    height: 100px;
    top: -40px;
    left: -50px;
  }
  .wrapper_container_reviews_docs_item {
    width: 50%;
    margin-right: 0;
    margin-bottom: 40px;
  }
  .sing_section6 {
    display: none;
  }
  .wrapper_container_reviews_docs {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .wrapper_container_reviews_docs_item-p {
    margin-top: 0;
    /* margin-bottom: 35px; */
  }
  .wrapper_container_reviews_docs_item:last-child {
    margin-bottom: 0;
  }
  /* cost item */
  .wrapper_container_cost_item {
    height: 350px;
  }
  .sity_section_reviews {
    height: 350px;
  }
  .wrapper_container_cost_item::after {
    height: 350px;
  }
  .wrapper_container_cost_item_content-p1 {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 30px;
    text-align: start;
  }
  .wrapper_container_cost_item_content-p2 {
    font-size: 16px;
    line-height: 22px;
    text-align: start;
  }
  .wrapper_container_cost_item_btn {
    width: 100%;
  }
  .wrapper_container_cost_item_content {
    width: 100%;
    padding: 30px 10px;
    height: auto;
  }
  .sity_section_reviews {
    height: 350px;
  }
  /* footer */
  .wrapper_container_footer_right {
    display: none;
  }
  .wrapper_container_footer {
    padding: 10px;
    height: auto;
  }
}
